@import "variables";

.liked {
  color: $quinary-color;
  font-size: 25px;
}

.liked[role="button"] {
  cursor: pointer;
  transition: color 0.3s ease, color 0.3s ease;

  &:hover {
    color: $quaternary-color;
  }
  &:focus-visible {
   outline: 2px solid $quinary-color;
   border-radius: 2px;
  }
}
  